  p {
            color: red;
            font-size: larger;
        }
        table{
            border: 10px solid black;
        } 
         .green{
            color: green;
        }
        .blue{
            color: blue;
        }
        .big{
            font-size: larger;
        }
        .small{
            font-size: smaller;
        } 
         button:hover{
            color: blue;
        } 
        